<div id="breadcrumbs-wrapper" class=" grey lighten-3">
    <div class="container">
        <div class="row">
            <div class="col s12 m12 l12">
                <h5 class="breadcrumbs-title" style="margin-bottom:20px">Applications</h5>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col s12 m12 l12">
            <!-- add new app-->
            <div class="padding-top-10">
                <a class="waves-effect waves-light btn" data-bind="click: showNewAppForm">Create New</a>
            </div>
            <div id="app-form" class="row">
                <form class="col s12 padding-top-10">
                    <div class="row">
                        <div class="input-field col s12 m6">
                            <input id="app_name" type="text" class="validate" required="" aria-required="true" data-bind="textInput: newApp.name">
                            <label for="app_name" data-error="Required">Application name</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12 m6">
                            <input id="app_desc" type="text" class="validate" required="" aria-required="true" data-bind="textInput: newApp.desc">
                            <label for="app_desc">Description</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <button class="waves-effect waves-light btn" data-bind="click: submitApp" type="submit" name="action">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- end add new-->
            <!-- application list-->
            <ul class="collection" data-bind="foreach : appsList">
                <li class="collection-item avatar">
                    <i class="material-icons circle" data-bind="text: icon,css: color"></i>
                    <span class="title" data-bind="text: name"></span>
                    <p data-bind="text: desc">
                    </p>

                    <a href="#!/topics" class="secondary-content"><i class="material-icons">input</i></a>
                </li>
            </ul>

        </div>
    </div>
</div>
