.padding-left-10{
    padding-left: 10px !important;
}
.padding-bottom-10{
    padding-bottom: 10px !important;
}
.padding-top-10{
    padding-top: 10px !important;
}
.padding-right-10{
    padding-right: 10px !important;
}
.paddiing-left-5{
    padding-left: 5px !important;
}
#app-form{
    display: none;
}
span.z{
/*    position: absolute;*/
    top:2px;
    display: inline;
}
.box{
    position: relative;
    width:auto;
}
.inside{
    position: relative;
    float: left;
    padding-left:5px;
}
body {
    background-color: #fcfcfc;
}
#main, footer {
    padding-left: 240px;
}
.margin {
    margin: 0;
}
#input-select .input-field label {
    font-size: 0.8rem;
    position: absolute;
    top: -14px;
}
#sidenav-overlay {
    background-color: transparent;
}
.container {
    margin: 0 auto;
    max-width: 100% !important;
    padding: 0 0.5rem;
    width: 98%;
}
#left-sidebar-nav span.badge.new {
    line-height: 20px;
    margin-top: 11px;
}
#content .container .row {
    margin-bottom: 0;
}
@media only screen and (min-width: 601px) {
.container {
    width: 98%;
}
}
@media only screen and (min-width: 993px) {
.container {
    width: 98%;
}
}
@media only screen and (max-width: 993px) {
#main, footer {
    padding-left: 0;
}
}
.small {
    font-size: 1rem;
    margin: 0;
    padding: 0;
}
.medium-small {
    font-size: 0.9rem;
    margin: 0;
    padding: 0;
}
.ultra-small {
    font-size: 0.8rem;
    margin: 0;
    padding: 0;
}
small {
    font-size: 0.8rem;
}
.strong {
    font-weight: 600;
}
h4.header {
    font-size: 1.5rem;
    line-height: 2.508rem;
    margin: 1.14rem 0 0.912rem;
}
p.title {
    font-size: 1.3rem;
}
p.header {
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
}
h4.header {
    font-size: 1.4rem;
    font-weight: 400;
    text-transform: uppercase;
}
h4.header2 {
    font-size: 1.1rem;
    font-weight: 400;
    text-transform: uppercase;
}
li.li-hover:hover {
    background: transparent none repeat scroll 0 0 !important;
}
.more-text {
    font-weight: 500;
    letter-spacing: 1px;
    padding: 5px 20px;
    text-transform: uppercase;
}
.valign-demo {
    background-color: #ddd;
    height: 400px;
}
#loader-wrapper {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
#loader {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    animation: 2s linear 0s normal none infinite running spin;
    border-color: #3498db transparent transparent;
    border-image: none;
    border-radius: 50%;
    border-style: solid;
    border-width: 3px;
    display: block;
    height: 150px;
    left: 50%;
    margin: -75px 0 0 -75px;
    position: relative;
    top: 50%;
    width: 150px;
    z-index: 1001;
}
#loader-logo {
    background: rgba(0, 0, 0, 0) url("../images/user-bg.jpg") no-repeat scroll center center;
    display: block;
    left: 48%;
    position: absolute;
    top: 46%;
    z-index: 1001;
}
#loader::before {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    animation: 3s linear 0s normal none infinite running spin;
    border-color: #e74c3c transparent transparent;
    border-image: none;
    border-radius: 50%;
    border-style: solid;
    border-width: 3px;
    bottom: 5px;
    content: "";
    left: 5px;
    position: absolute;
    right: 5px;
    top: 5px;
}
#loader::after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    animation: 1.5s linear 0s normal none infinite running spin;
    border-color: #f9c922 transparent transparent;
    border-image: none;
    border-radius: 50%;
    border-style: solid;
    border-width: 3px;
    bottom: 15px;
    content: "";
    left: 15px;
    position: absolute;
    right: 15px;
    top: 15px;
}
@keyframes spin {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(360deg);
}
}
#loader-wrapper .loader-section {
    background: #222222 none repeat scroll 0 0;
    height: 100%;
    position: fixed;
    top: 0;
    transform: translateX(0px);
    width: 51%;
    z-index: 1000;
}
#loader-wrapper .loader-section.section-left {
    left: 0;
}
#loader-wrapper .loader-section.section-right {
    right: 0;
}
.loaded #loader-wrapper .loader-section.section-left {
    transform: translateX(-100%);
    transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1) 0.3s;
}
.loaded #loader-wrapper .loader-section.section-right {
    transform: translateX(100%);
    transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1) 0.3s;
}
.loaded #loader {
    opacity: 0;
    transition: all 0.3s ease-out 0s;
}
.loaded #loader-wrapper {
    transform: translateY(-100%);
    transition: all 0.3s ease-out 1s;
    visibility: hidden;
}
.no-js #loader-wrapper {
    display: none;
}
.progress {
    background-color: rgba(255, 64, 129, 0.22);
}
h1.logo-wrapper {
    margin: 0;
}
h1 span.logo-text {
    display: none;
}
header .brand-logo {
    margin: 5px 0;
    padding: 0 20px;
}
@media only screen and (max-width: 992px) {
nav .nav-wrapper {
    text-align: center;
}
nav .nav-wrapper a.page-title {
    font-size: 36px;
}
}
li.search-out:hover {
    background: transparent none repeat scroll 0 0;
}
.search-out {
    display: none;
}
.search-out-text {
    border-bottom: 1px solid #fff !important;
}
.search-out input[type="text"]:focus:not([readonly]) {
    border-bottom: 1px solid #fff !important;
    box-shadow: none;
}
ul.side-nav.fixed {
    top: 64px;
}
@media only screen and (max-width: 992px) {
ul.side-nav.fixed {
    top: 56px;
}
}
ul.side-nav.fixed hr {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #e0e0e0 -moz-use-text-color -moz-use-text-color;
    border-image: none;
    border-style: solid none none;
    border-width: 1px 0 0;
    display: block;
    height: 1px;
    margin: 1em 0;
    padding: 0;
}
.side-nav a {
    height: 42px;
    line-height: 42px;
}
#left-sidebar-nav {
    height: auto;
    left: 180px;
    position: fixed;
    width: 100px;
    z-index: 999;
}
#slide-out li a i {
    display: block;
    float: left;
    font-size: 1.6rem;
    line-height: inherit;
    margin-right: 1rem;
    text-align: center;
    width: 2rem;
    height: inherit;
}
#slide-out ul.side-nav li {
    padding: 0 !important;
}
ul.side-nav li {
    padding: 0;
}
ul.side-nav .collapsible-header {
    margin: 0;
}
.caption {
    font-size: 1.25rem;
    font-weight: 300;
    margin-bottom: 30px;
}
.caption-uppercase {
    font-size: 1.25rem;
    font-weight: 300;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.sidebar-collapse {
    left: -170px;
    position: absolute;
    top: -45px;
}
ul.side-nav.fixed {
    overflow: hidden;
}
ul.side-nav.fixed li {
    line-height: 44px;
}
ul.side-nav.fixed li:hover, ul.side-nav.fixed li.active {
    background-color: rgba(0, 0, 0, 0.05);
}
ul.side-nav.fixed li a {
    font-size: 14px;
    font-weight: 400;
}
.side-nav .collapsible-body li a {
    margin: 0 1rem 0 3rem;
}
ul.side-nav.fixed ul.collapsible-accordion {
    background-color: #fff;
}
ul.side-nav.fixed:hover {
}
ul.side-nav.fixed li.user-details {
    background: rgba(0, 0, 0, 0) url("../images/user-bg.jpg") no-repeat scroll center center / cover ;
    margin-bottom: 15px;
    padding: 15px 0 0 15px;
}
.user-details .row {
    margin: 0;
}
.user-task, .user-time {
    color: #fff;
    font-size: 13px;
    margin: 0;
}
ul.side-nav.fixed .profile-image {
}
ul.side-nav.fixed .profile-btn {
    font-size: 15px;
    margin: 0;
    padding: 0;
    text-shadow: 1px 1px 1px #444;
    text-transform: capitalize;
}
.user-roal {
    color: #fff;
    font-size: 13px;
    margin-top: -16px;
    text-shadow: 1px 1px 1px #444;
}
.bold > a {
    font-weight: bold;
}
nav.top-nav {
    box-shadow: none;
    height: 122px;
}
nav.top-nav a.page-title {
    font-size: 48px;
    line-height: 122px;
}
.rightside-navigation {
    overflow: hidden;
}
.chat-close-collapse {
    padding: 5px 15px 0 0;
}
#right-search .input-field {
    margin-top: 0;
}
#chat-out .collapsible-header {
    background-color: transparent;
    border: medium none;
    font-weight: 400;
    height: 45px;
    line-height: 45px;
}
#chat-out .chat-out-list {
    border-bottom: 1px solid #e0e0e0;
    margin: 0;
    padding: 5px;
}
#chat-out .favorite-associate-list .circle {
    border: 2px solid #999;
    border-radius: 50px;
    display: block;
    padding: 3px;
}
#chat-out .favorite-associate-list .online-user {
    border: 2px solid #00e676;
}
#chat-out .recent-activity-list-icon {
    font-size: 2rem;
    margin-top: 8px;
}
#chat-out .recent-activity-list-text a {
    font-size: 0.8rem;
    font-weight: 600;
    padding: 0;
}
#chat-out .recent-activity-list-text p {
    font-size: 0.9rem;
    padding: 0;
}
#chat-out .favorite-associate-list p {
    padding: 0;
}
#chat-out .favorite-associate-list p.place {
    font-size: 0.8rem;
}
.breadcrumb {
    list-style: outside none none;
    margin: 15px 0;
    padding: 0;
}
.breadcrumbs-title {
    font-size: 1.5rem;
    line-height: 1.804rem;
    margin: 18px 0 0;
}
.breadcrumb > li {
    display: inline-block;
}
.breadcrumb a {
    color: #00bcd4;
}
.breadcrumb .active {
    color: #999;
    font-weight: normal;
}
.breadcrumb > li + li::before {
    color: #ccc;
    content: "/ ";
    padding: 0 5px;
}
h5.breadcrumbs-header {
    font-size: 1.64rem;
    line-height: 1.804rem;
    margin: 1.5rem 0 0;
}
.breadcrumbs-nav {
    margin: 8px 0 9px;
}
#card-stats .card-content {
    text-align: center;
}
#card-stats .card-stats-title, #card-stats .card-stats-title i {
    font-size: 1.2rem;
}
#card-stats .card-stats-compare {
    font-size: 1rem;
}
#card-stats .card-stats-compare i {
    position: relative;
    top: 5px;
}
#card-stats .card-stats-number {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2rem;
    margin: 0.2rem 0;
}
#work-collections .collection-header {
    font-size: 1.64rem;
    font-weight: 500;
}
#work-collections .collection-item.avatar {
    height: auto;
}
#work-collections p.collections-title {
    font-size: 1rem;
    font-weight: 500;
    margin: 0;
    padding: 0;
}
#work-collections p.collections-content {
    font-size: 0.9rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
}
#flight-card .card-header .card-title {
    padding: 20px;
}
#flight-card .flight-card-title {
    font-weight: 300;
    margin: 0;
}
#flight-card .flight-card-date {
    font-size: 1rem;
    margin: 0;
}
#flight-card .flight-state {
    padding-bottom: 15px;
}
#flight-card .flight-state-two {
    border-left: 1px dashed #9e9e9e;
}
#flight-card .flight-icon {
    display: block;
    font-size: 2.2rem;
    transform: rotate(90deg);
}
#flight-card .card-content-bg {
    background: rgba(0, 0, 0, 0) url("../images/sample-1.jpg") no-repeat scroll center center / cover ;
}
#flight-card .card-content {
    background: rgba(0, 0, 0, 0.25) none repeat scroll 0 0;
}
#flight-card .flight-state-wrapper {
    margin: 0 0 100px !important;
}
#task-card label {
    color: rgba(0, 0, 0, 0.87);
    display: block;
    height: auto;
}
#task-card .task-card-title {
    color: #fff;
    font-weight: 300;
    margin: 0;
}
#task-card .task-card-date {
    color: #fff;
    font-size: 1rem;
    margin: 0;
}
#task-card .collection-header {
    padding: 20px;
}
#task-card .task-cat {
    background-clip: padding-box;
    border-radius: 2px;
    color: #fff;
    font-size: 0.8rem;
    font-weight: 300;
    margin-left: 37px;
    padding: 2px 4px;
}
.task-cat {
    background-clip: padding-box;
    border-radius: 2px;
    color: #fff;
    font-size: 0.8rem;
    font-weight: 300;
    padding: 2px 4px;
}
.collection .collection-item.avatar i.circle {
    font-size: 28px;
}
#profile-card .card-image {
    height: 150px;
}
#profile-card .card-content p {
    font-size: 1.2rem;
    margin: 10px 0 12px;
}
#profile-card .card-profile-image {
    cursor: pointer;
    position: absolute;
    top: 90px;
    width: 80px;
    z-index: 1;
}
#profile-card .btn-move-up {
    margin-right: 10px !important;
    position: relative;
    right: -18px;
    top: -45px;
}
#chart-dashboard {
    padding-top: 12px;
}
#chart-dashboard .card .card-content, #card-stats .card .card-content, #card-stats .card .card-action {
    padding: 10px 14px;
}
#line-updated {
}
.sample-chart-wrapper {
    width: 100%;
}
.chart-title {
    font-size: 1.6rem;
    font-weight: 300;
}
.chart-revenue {
    border-radius: 3px;
    float: right;
    padding: 8px;
    text-align: center;
}
.chart-revenue .chart-revenue-total {
    font-size: 0.9rem;
    margin: 0;
}
.chart-revenue .chart-revenue-per {
    font-size: 0.8rem;
    margin: 0;
}
.chart-revenue .chart-revenue-per i {
    position: relative;
    top: 5px;
}
.chart-revenue-switch {
    color: #fff;
    padding-right: 10px;
    padding-top: 28px;
    text-align: right;
}
.doughnut-chart-status {
    font-size: 16px;
    font-weight: 500;
    height: 0;
    left: 0;
    position: relative;
    text-align: center;
    top: -75px;
}
.doughnut-chart-status p {
    margin-top: -5px;
}
.doughnut-chart-legend li {
    font-size: 0.9rem;
    padding: 2px 0;
}
.doughnut-chart-legend li::before {
    content: "";
    display: block;
    float: left;
    height: 8px;
    margin-right: 4px;
    margin-top: 6px;
    width: 8px;
}
li.mobile::before {
    background: #f7464a none repeat scroll 0 0;
}
li.kitchen::before {
    background: #46bfbd none repeat scroll 0 0;
}
li.home::before {
    background: #fdb45c none repeat scroll 0 0;
}
a.button-collapse.top-nav {
    color: #fff;
    float: none;
    font-size: 32px;
    left: 7.5%;
    margin-left: 1.5rem;
    position: absolute;
    top: 0;
    z-index: 2;
}
.trending-bar-chart-wrapper {
    width: 100%;
}
.btn-move-up {
    margin-right: 10px !important;
    position: relative;
    right: -18px;
    top: -28px;
}
.flotchart-placeholder {
    font-size: 13px;
    height: 300px;
    line-height: 1.2em;
    width: 100%;
}
#flotchart table {
    color: #545454;
    font-size: smaller;
    position: absolute;
    right: 17px;
    top: 13px;
    width: 100px;
}
#flotchart td, th {
    padding: 5px;
}
.xchart-placeholder {
    height: 300px;
    width: 90%;
}
.tooltip-class {
    color: #fff;
    height: 20px;
    overflow: hidden;
    width: 30px;
}
#ct2-chart .ct-series.ct-series-a .ct-area {
    fill: #00bcd4;
}
#ct2-chart .ct-series.ct-series-a .ct-point {
    stroke: #00bcd4;
}
#ct2-chart .ct-series.ct-series-a .ct-line {
    stroke: #54e2f4;
}
.socialbox .logo {
    bottom: 20px;
    color: #fff;
    font-size: 28px;
    left: 20px;
    position: absolute;
}
.socialbox .info {
    bottom: 20px;
    color: #fff;
    font-size: 15px;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 20px;
}
#full-calendar {
    padding-top: 30px;
}
#calendar h2 {
    font-size: 1.5rem;
    line-height: 35px;
    text-transform: uppercase;
}
#calendar .fc-day-header {
    font-weight: 400;
    text-transform: uppercase;
}
#external-events {
    padding-top: 50px;
}
#external-events .fc-event {
    border: medium none;
    color: #fff;
    cursor: all-scroll;
    margin-bottom: 10px;
    padding: 5px;
    text-decoration: none;
}
.fc button {
    background: #fff none repeat scroll 0 0;
}
.fc td, .fc th {
    border-width: 0 !important;
}
.fc-state-active, .fc-state-down {
    color: #ff4081 !important;
}
.dynamic-color .red, .dynamic-color .pink, .dynamic-color .purple, .dynamic-color .deep-purple, .dynamic-color .indigo, .dynamic-color .blue, .dynamic-color .light-blue, .dynamic-color .cyan, .dynamic-color .teal, .dynamic-color .green, .dynamic-color .light-green, .dynamic-color .lime, .dynamic-color .yellow, .dynamic-color .amber, .dynamic-color .orange, .dynamic-color .deep-orange, .dynamic-color .brown, .dynamic-color .grey, .dynamic-color .blue-grey {
    box-sizing: border-box;
    display: block;
    font-size: 12px;
    font-weight: 500;
    height: 55px;
    line-height: 55px;
    padding: 0 15px;
    width: 100%;
}
.dynamic-color .col {
    margin-bottom: 55px;
}
@media only screen and (max-width: 1024px) {
tfoot {
    display: none;
}
}
tr.group, tr.group:hover {
    background-color: #ddd !important;
}
#site-layout-example-left {
    background-color: #90a4ae;
    height: 300px;
}
#site-layout-example-right {
    background-color: #26a69a;
    height: 300px;
}
#site-layout-example-top {
    background-color: #e57373;
    height: 50px;
}
.flat-text-header {
    background-color: rgba(255, 255, 255, 0.15);
    display: block;
    height: 35px;
    margin: 27px auto;
    width: 80%;
}
.flat-text {
    background-color: rgba(0, 0, 0, 0.15);
    display: block;
    height: 25px;
    margin: 27px auto;
    width: 80%;
}
.flat-text.small {
    background-color: rgba(0, 0, 0, 0.15);
    height: 25px;
    width: 25%;
}
.flat-text.full-width {
    width: 100%;
}
.col.grid-example {
    background-color: tomato;
    border: 1px solid #eee;
    color: white;
    font-size: 28px;
    line-height: 50px;
    margin: 7px 0;
    padding: 0;
    text-align: center;
}
.col.grid-example span {
    font-weight: 200;
    line-height: 50px;
}
.waves-color-demo .collection-item {
    height: 57px;
    line-height: 57px;
}
.browser-window {
    background-clip: padding-box;
    background-color: transparent;
    border-radius: 5px 5px 2px 2px;
    display: inline-block;
    height: auto;
    margin: 20px 0;
    overflow: hidden;
    text-align: left;
    width: 100%;
}
.browser-window .top-bar {
    background: rgba(0, 0, 0, 0) linear-gradient(#e7e7e6, #e2e2e1) repeat scroll 0 0;
    border-bottom: thin solid #dfdfde;
    border-radius: 5px 5px 0 0;
    border-top: thin solid #eaeae9;
    height: 30px;
}
.browser-window .circle {
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    height: 10px;
    margin-right: 1px;
    width: 10px;
}
#close-circle {
    background-color: #ff5c5a;
}
#minimize-circle {
    background-color: #ffbb50;
}
#maximize-circle {
    background-color: #1bc656;
}
.browser-window .circles {
    margin: 5px 12px;
}
.browser-window .content {
    background-color: #fafafa;
    border-radius: 0 0 5px 5px;
    display: inline-block;
    margin: 0;
    width: 100%;
}
.browser-window .row {
    margin: 0;
}
.clear {
    clear: both;
}
.promo i {
    color: #ee6e73;
    display: block;
    font-size: 6rem;
}
.promo-caption {
    font-size: 1.7rem;
    font-weight: 500;
    margin-bottom: 0;
    margin-top: 5px;
}
.icon-demo {
    line-height: 50px;
}
.icon-container i {
    display: block;
    font-size: 3em;
    margin-bottom: 10px;
}
.icon-container .icon-preview {
    height: 120px;
    text-align: center;
}
.icon-holder {
    display: block;
    float: left;
    height: 115px;
    margin: 0 0 15px;
    text-align: center;
    width: 150px;
}
.icon-holder p {
    margin: 0;
}
.login-form {
    width: 280px;
}
.login-form-text {
    font-size: 0.8rem;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.profile-image-login {
    height: 100px !important;
    width: 100px;
}
.login-text {
    margin-left: -6px !important;
    margin-top: -6px;
}
.text-long-shadow {
    background-color: rgb(38, 166, 154);
    color: #fff !important;
    font-size: 10rem;
    padding: 20px 0 !important;
    text-align: center;
    text-shadow: 1px 1px rgb(29, 125, 116), 2px 2px rgb(29, 125, 116), 3px 3px rgb(29, 125, 116), 4px 4px rgb(29, 125, 116), 5px 5px rgb(29, 125, 116), 6px 6px rgb(29, 125, 116), 7px 7px rgb(29, 125, 116), 8px 8px rgb(29, 125, 116), 9px 9px rgb(29, 125, 116), 10px 10px rgb(29, 125, 116), 11px 11px rgb(29, 125, 116), 12px 12px rgb(29, 125, 116), 13px 13px rgb(29, 125, 116), 14px 14px rgb(29, 125, 116), 15px 15px rgb(29, 126, 117), 16px 16px rgb(29, 128, 119), 17px 17px rgb(30, 130, 120), 18px 18px rgb(30, 132, 122), 19px 19px rgb(30, 133, 124), 20px 20px rgb(31, 135, 125), 21px 21px rgb(31, 137, 127), 22px 22px rgb(32, 139, 129), 23px 23px rgb(32, 141, 130), 24px 24px rgb(32, 142, 132), 25px 25px rgb(33, 144, 134), 26px 26px rgb(33, 146, 135), 27px 27px rgb(34, 148, 137), 28px 28px rgb(34, 149, 139), 29px 29px rgb(34, 151, 140), 30px 30px rgb(35, 153, 142), 31px 31px rgb(35, 155, 144), 32px 32px rgb(36, 157, 145), 33px 33px rgb(36, 158, 147), 34px 34px rgb(36, 160, 149), 35px 35px rgb(37, 162, 150), 36px 36px rgb(37, 164, 152), 37px 37px rgb(38, 166, 154);
    width: 100%;
}
#mail-app hr {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #e0e0e0 -moz-use-text-color -moz-use-text-color;
    border-image: none;
    border-style: solid none none;
    border-width: 1px 0 0;
    display: block;
    height: 1px;
    margin: 1em 0;
    padding: 0;
}
.email-unread .email-title {
    font-weight: 500;
}
#email-sidebar {
    min-height: 650px;
}
#email-sidebar li {
    padding: 10px 0;
    text-align: center;
}
#email-sidebar li i {
    color: #272727;
    padding: 12px;
}
#email-sidebar li i.active {
    background: #dddddd none repeat scroll 0 0;
    border-radius: 2px;
}
#email-sidebar li i:hover {
    background: #dddddd none repeat scroll 0 0;
    border-radius: 2px;
}
#mail-app #email-sidebar, #mail-app #email-list, #mail-app #email-details {
    margin-top: 0;
}
#email-list {
    padding: 0;
}
#email-list .collection {
    margin: 0;
}
#email-list .collection .collection-item.avatar {
    height: auto;
    padding-left: 72px;
    position: relative;
}
#email-list .collection .collection-item:hover {
    background: #e1f5fe none repeat scroll 0 0;
    cursor: pointer;
}
#email-list .collection .collection-item.selected {
    background: #e1f5fe none repeat scroll 0 0;
    border-left: 4px solid #29b6f6;
}
#email-list .collection .collection-item.avatar .secondary-content {
    position: absolute;
    right: -4px;
    top: 10px;
}
#email-list .collection .collection-item.avatar .secondary-content.email-time {
    right: 8px;
}
#email-list .collection .collection-item.avatar .icon {
    display: inline-block;
    height: 42px;
    left: 15px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: 20px;
    vertical-align: middle;
    width: 42px;
}
#email-list .collection .collection-item.avatar .circle {
    color: #fff;
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 300;
    height: 42px;
    left: 15px;
    overflow: hidden;
    padding: 10px;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    width: 42px;
}
#email-list .collection .collection-item.avatar img.circle {
    padding: 0;
}
#email-list .attach-file {
    color: #9e9e9e;
    font-size: 1.1rem;
    transform: rotate(90deg);
}
#email-details {
    padding: 15px;
}
#email-details .email-subject {
    font-size: 1.2rem;
}
#email-details .email-subject i {
    font-size: 2.2rem;
}
#email-details .email-tag {
    font-size: 0.9rem;
    padding: 3px;
}
#email-details .collection {
    border: medium none;
}
#email-details .collection .collection-item.avatar {
    height: auto;
    padding-left: 72px;
    position: relative;
}
#email-details .collection .collection-item.selected {
    background: #e1f5fe none repeat scroll 0 0;
    border-left: 4px solid #29b6f6;
}
#email-details .collection .collection-item.avatar .icon {
    display: inline-block;
    height: 42px;
    left: 15px;
    overflow: hidden;
    position: absolute;
    top: 20px;
    vertical-align: middle;
    width: 42px;
}
#email-details .collection .collection-item.avatar .circle {
    color: #fff;
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 300;
    height: 42px;
    left: 15px;
    overflow: hidden;
    padding: 10px;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    width: 42px;
}
#email-details .collection .collection-item.avatar img.circle {
    padding: 0;
}
#email-details .email-actions {
    padding-top: 25px;
}
#email-details .email-actions a {
    color: #757575;
    padding: 5px;
}
.email-reply {
    padding-top: 20px;
}
.email-reply a {
    color: #757575;
}
.email-reply p {
    color: #757575;
    margin: 0;
}
.email-reply a i {
    font-size: 2rem;
}
#mail-app .modal .modal-content {
    padding: 0;
}
.model-email-content {
    padding: 24px;
}
.invoice-icon i {
    font-size: 2rem;
}
.invoice-table {
    padding-top: 40px;
}
.invoice-text {
    padding: 18px 0;
}
.shadow-demo {
    background-color: #26a69a;
    height: 100px;
    margin: 20px auto;
    width: 100px;
}
.collapsible-header {
    font-weight: 500;
}
footer.page-footer {
    padding-top: 0;
}
#world-map-markers {
    height: 300px;
}
#polar-chart-holder {
    padding-top: 20px;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
.doughnut-chart-status {
    display: none;
}
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
.doughnut-chart-status {
    display: none;
}
#card-stats .card-stats-compare {
    font-size: 0.8rem;
}
}
